{% extends "layout.html" %}

{% block content %}

  <header>
    <h1>Ambassadors Wellness Center</h1>
  </header>

  <main>
    <section id="about-us">
      <h2>About Us</h2>
      <p>
        At Ambassadors Wellness Center, our multidisciplinary treatment teams provide trauma-informed treatment with a focus on early recovery. We offer a comprehensive approach to healing, addressing the physical, emotional, and psychological aspects of addiction and mental health.
      </p>
    </section>
    </main>

{% endblock %}
</html>