<!-- admin_posts.html -->
{% extends 'base.html' %}

{% block content %}
  {% if current_user.is_authenticated and current_user.is_admin %}
    <h2>Posts awaiting approval</h2>
    {% for post in posts %}
      <div class="post">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <form action="{{ url_for('approve_post', post_id=post.id) }}" method="post">
          <button type="submit" class="btn btn-primary">Approve Post</button>
        </form>
      </div>
      <hr>
    {% endfor %}
  {% else %}
    <p>Access Denied. You are not authorized to view this page.</p>
  {% endif %}
{% endblock %}
