{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2 class="article-title">
                    <a href="{{ url_for('post.view_post', post_id=post.id) }}">{{ post.title }}</a>
                </h2>
                <p class="article-content">{{ post.content }}</p>
                <div class="post-actions text-center">
                    {% if current_user.is_authenticated %}
                    <form method="post" action="{{ url_for('post.delete_post', post_id=post.id) }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    {% endif %}
                    <div class="post-stats">
                        <small class="text-muted">{{ post.likes|length }} Likes</small>
                        <small class="text-muted">{{ post.comments|length }} Comments</small>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'><strong>Ambassadors Notice Board</strong></p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
